<div class="mainContainer">
    <img class="chouanardLogo" alt="Chouanard Creative" src="@Url.Content("~/Images/chouanard_logo.png")" title="Chouanard Creative" />
    <div id="social-header">
            <a href="http://twitter.com/chouanard" title="Twitter" class="twitter"></a>
            <a href="http://markchouanard.com" title="Mark Chouanard's Blog" class="mac"></a>
            <a href="http://github.com/chouanard" title="GitHub" class="git"></a>
            <a href="http://www.linkedin.com/in/chouanard" title="LinkedIn" class="linkedin"></a>
            <a href="http://feeds.feedburner.com/MarkChouanard" title="RSS" class="rss"></a>
    </div>
</div>
